html, body {
    background-color: deepskyblue;
    height: 100%;
    width: 100%;
    overflow: hidden;
    margin: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
}

#app {
    background-color: ivory;
    border-radius: 10px;
    box-shadow: black 2px 5px 5px;
    height: 70%;
    max-height: 70%;
    width: 70%;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 10px 20px;
}

#app > a{
    width: 100%;
    text-align: left;
}

button {
    background: linear-gradient(-45deg, red, lightgreen);
    border-radius: 10px;
    /* padding: 10px 50px; */
    width: 200px;
    height: 50px;
    margin: 10px;
    font-size: medium;
}

.flex-container-column-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex-container-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
