input {
    text-align: center;
}


.register-form > * {
    margin: 10px 0
}

input, label, button {
    font-size: x-large;
}

input {
    border-radius: 10px;
    width: 100%;
}

button {
    background: linear-gradient(-45deg, red, lightgreen);
    border-radius: 10px;
    padding: 10px 50px;
}
